---
import { Image } from 'astro:assets';

const products: {id: number, title: string, thumbnail: string, price: number} [] = [] // Lade aus der Collection

---

<div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
  {products.map((p) => (
          <article class="bg-white rounded-lg shadow hover:shadow-lg transition p-4">
              <a href={`/products/${p.id}`} class="block overflow-hidden rounded-md">
                  <Image
                          src={p.thumbnail || p.images[0]}
                          alt={p.title}
                          width={400}
                          height={300}
                          class="object-cover w-full h-48"
                  />
              </a>
              <h3 class="mt-4 text-xl font-semibold">
                  <a href={`/workshop/products/${p.id}`}>{p.title}</a>
              </h3>
              <p class="mt-2 text-lg font-bold">€{p.price.toFixed(2)}</p>
          </article>
  ))}
</div>
