---
import "@/global.css";
import {Icon} from 'astro-icon/components'
import {ClientRouter} from "astro:transitions";

let {prev = "/", next = "/", slideId = null} = Astro.props;
if (!slideId) {
  prev = Astro.props.frontmatter?.prev
  next = Astro.props.frontmatter?.next
  slideId = Astro.props.frontmatter?.slideId
}
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <ClientRouter />
    <title>Astro Workshop</title>
</head>
<body class="bg-gradient-to-br from-black via-80% via-purple-950 to-fuchsia-900
text-white flex items-center justify-center h-screen
border-fuchsia-700 border-20 rounded-3xl shadow-2xl
"
>
<main class="w-full xl:max-w-2/3 p-8 transition-fade" transition:animate="slide">
    <slot/>
</main>

<div class="fixed bottom-20 left-20">
    <button id="prev" data-href={prev} class="btn cursor-pointer">
        <Icon class="inline-block" name="mingcute:left-line"/>
    </button>
</div>
{slideId &&
        <div class="fixed font-mono bottom-20 left-1/2 -translate-x-1/2 text-xl text-center">
            #{slideId}
        </div>
}
<div class="fixed bottom-20 right-20">
    <button id="next" data-href={next} class="btn cursor-pointer">
        <Icon class="inline-block" name="mingcute:right-line"/>
    </button>
</div>

<script>
  import { navigate } from "astro:transitions/client";

  let currentStep = 0;

  document.addEventListener("click", (e) => {
      if (e.target.closest("a") || e.target.closest("button")) return;

      nextStep()
  });

  document.addEventListener("keydown", (e) => {
      if (e.key === "ArrowRight") {
          nextStep()
      }
      if (e.key === "ArrowLeft") {
          previousStep()
      }
  });

  document.addEventListener('astro:page-load', () => {
      document.querySelector("#next").addEventListener("click", (e) => {
          console.log("next clicked");
          nextStep();
      });
      document.querySelector("#prev").addEventListener("click", (e) => {
          previousStep();
      });
  });

  function previousStep() {
    const steps = [...document.querySelectorAll("[data-step]")].sort(
      (a, b) => a.dataset.step - b.dataset.step
    );
    if (currentStep > 0) {
      currentStep--;
      steps[currentStep].classList.remove("visible");
    } else {
      const prevButton = document.querySelector("#prev");
      if (prevButton) {
          currentStep = 0;
          navigate(prevButton.getAttribute("data-href"));
      }
    }
  }

  function nextStep() {
    const steps = [...document.querySelectorAll("[data-step]")].sort(
      (a, b) => a.dataset.step - b.dataset.step
    );
    if (currentStep < steps.length) {
      steps[currentStep].classList.add("visible");
      currentStep++;
    } else {
      const nextButton = document.querySelector("#next");
      if (nextButton) {
          currentStep = 0;
          navigate(nextButton.getAttribute("data-href"));
      }
    }
  }
</script>
</body>
</html>
